torch
torchvision
tensorflow==2.9.2
tensorflow-probability
scikit-learn
numpy
d2l==1.0.0a1.post0
transformers
datasets
pinecone-client 
sentence-transformers
jupyter
Cython==0.29.21
librosa==0.8.0
matplotlib==3.3.1
phonemizer==2.2.1
scipy==1.5.2
tensorboard==2.3.0
Unidecode==1.1.1
nltk
whisper